{% extends "base.html" %}

{% block title %}Flasker{% endblock %}

{% block style %}
<link href="{{ url_for('auth.static', filename='main.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<form method="POST">
    {{ form.csrf_token }}
    <p class="header">Change password</p>
    <div class="">
        {{ form.old_password.label(class_="") }}
        {{ form.old_password(class_="", placeholder="Your current password") }}
        {% for error in form.old_password.errors %}
        <span class="form-error">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.new_password.label(class_="") }}
        {{ form.new_password(class_="", placeholder="Your new secret password") }}
        {% for error in form.new_password.errors %}
        <span class="form-error">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.confirm_new_password.label(class_="") }}
        {{ form.confirm_new_password(class_="", placeholder="Repeat Your new secret password") }}
        {% for error in form.confirm_new_password.errors %}
        <span class="form-error">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="">
        <button class="" type="submit">Change</button>
    </div>
    <div class="">
        <a class="" href="{{ url_for('auth.account') }}">Go to profile</a>
    </div>
</form>
{% endblock %}

{% block js %}
{% endblock %}
