{% extends "base.html" %}

{% block title %}Flasker{% endblock %}

{% block style %}
<link href="{{ url_for('auth.static', filename='main.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<form method="POST">
    {{ form.csrf_token }}
    <p class="header">Enter your new password!</p>
    <div class="">
        {{ form.password.label(class_="") }}
        {{ form.password(class_="", placeholder="Your secret password") }}
        {% for error in form.password.errors %}
        <span  class="form-error">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.confirm_password.label(class_="") }}
        {{ form.confirm_password(class_="", placeholder="Repete your password") }}
        {% for error in form.confirm_password.errors %}
        <span class="form-error">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="">
        <button class="" type="submit">Reset</button>
    </div>
</form>
{% endblock %}

{% block js %}
{% endblock %}
