{% extends "base.html" %}

{% block title %}Flasker{% endblock %}

{% block style %}
<link href="{{ url_for('auth.static', filename='main.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<form method="POST">
    {{ form.csrf_token }}
    <p class="header">Reset your password and come back to us!</p>
    <div class="">
        {{ form.email.label(class_="") }}
        {{ form.email(class_="", id_="", placeholder="Your e-mail address") }}
        {% for error in form.email.errors %}
        <span class="form-error">{{ error }}</span>
        {% endfor %}
        <br/>
        <span class="">
            Enter your email address which you provided during registration and we will send you a secret link to change your password.
        </span>
    </div>
    <div class="">
        <button class="" type="submit">Send me e-mail</button>
    </div>
    <div class="">
        <span>You remember the password?</span>
        <a href="{{ url_for('auth.login') }}" role="button" class="">Login</a>
    </div>
</form>
{% endblock %}


{% block js %}
{% endblock %}
